/* Basic Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0px 0px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
   
}

/* Columns */
.left-column {
    width: 65%;
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.right-column {
  width: 35%;
  margin-top: 30px;
  padding: 20px;
  background-color: #E1E8EE;
  border-radius: 10px;
}


/* Left Column */
.left-column img {
  width: 100%;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}


/* Right Column */




/* Responsive */
@media (max-width: 940px) {
    .container {
        flex-direction: column;
        margin-top: 60px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

        .left-column img {
            width: 300px;
            right: 0;
            top: -65px;
            left: initial;
        }
}

@media (max-width: 535px) {
    .left-column img {
        width: 220px;
        top: -85px;
    }
}
