.modal-body p {
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.8;
}


.table td, .table th {
    vertical-align: middle;
    text-align: center;
}

.table th {
    text-align: center;
}

.table-responsive {
    margin-top: 1.5rem;
}

.text-center {
    text-align: center;
}

.order-details-link {
    cursor: pointer;
    text-decoration: underline;
}

    .order-details-link:hover {
        color: #0d6efd;
    }
/* Modal styles */
.modal-header {
    background-color: #0d6efd;
    color: #fff;
}

.modal-footer {
    border-top: none;
    background-color: #f9f9f9;
}
